@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Julee&family=Kdam+Thmor+Pro&family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

@theme {
  --font-julee: "Julee", cursive; 
  --font-outfit: "Outfit", sans-serif; 
  --font-inter: "Inter", sans-serif;
  --font-kdam: "Kdam Thmor Pro", sans-serif;
}